@using Microsoft.AspNetCore.Authorization
@using MinecraftSpelunking.Application.Identity.Common.Services
@using MinecraftSpelunking.Application.Minecraft.Common.Services

@attribute [Route(Constants.Routes.Home)]

@inject IUserApplicationService Users;
@inject IAddressBlockApplicationService AddressBlocks;

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}