@model LoginResponseModel?;
@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Log in";
}


<form id="account" method="post">
    <h2>Enter your credentials to log in.</h2>
    <hr />

    @if(Model?.Message is not null)
    {
        <div class="form-floating mb-3">
            <h3>@Model.Message</h3>
        </div>
    }

    <div class="form-floating mb-3">
        <input class="form-control" name="email" autocomplete="email" aria-required="true" placeholder="name@example.com" value="@Model?.Email" />
        <label class="form-label">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" name="password" autocomplete="current-password" aria-required="true" placeholder="password" />
        <label class="form-label">Password</label>
    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
</form>