<a
    @onclick="OnClick"
    @onclick:preventDefault
    href="javascript: void(0);"
    @attributes="AllOtherAttributes"
>
    @ChildContent
</a>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; } = new Dictionary<string, object>();
}
